.header
	img.icon(src="https://monoame.com/autoCAD/img/logoname.png", alt="")
.content.content_white
	.max_width
		h5 Style Guideline
		h1 品牌視覺引導-40px 大標題
		h1.small_english English Style Guideline for h1 title
		.title_hr
		br
		h2 品牌視覺引導-30px 中標題
		h2.small_english English Style Guideline for h2 title
		br
		h3 品牌視覺引導-20px 小標題
		h3.small_english English Style Guideline for h3 title
		br

		hr
		h5 VI COLORS
		.color_chip
			.color_tag #ffb336
			.color_block.color_block_yellow
		.color_chip
			.color_tag #27232F
			.color_block.color_block_blue
		.color_chip
			.color_tag #f3f7f7
			.color_block.color_block_white
		.color_chip
			.color_tag #333333
			.color_block.color_block_gray
		h5 Button EXAMPLE
		.button 按鈕範例
		.button.button_blue 按鈕範例
		.button.button_yellow 按鈕範例
	
	
.content.content_gray
	.max_width
		h5 Style Guideline
		h1 品牌視覺引導-40px 大標題
		h1.small_english English Style Guideline for h1 title
		.title_hr
		br
		h2 品牌視覺引導-30px 中標題
		h2.small_english English Style Guideline for h2 title
		br
		h3 品牌視覺引導-20px 小標題
		h3.small_english English Style Guideline for h3 title
		br

		hr
		h5 VI COLORS
		.color_chip
			.color_tag #ffb336
			.color_block.color_block_yellow
		.color_chip
			.color_tag #27232F
			.color_block.color_block_blue
		.color_chip
			.color_tag #f3f7f7
			.color_block.color_block_white
		.color_chip
			.color_tag #333333
			.color_block.color_block_gray
		h5 Button EXAMPLE
		.button 按鈕範例
		.button.button_blue 按鈕範例
		.button.button_yellow 按鈕範例
	
	
.content.content_blue
	.max_width
		h5 Style Guideline
		h1 品牌視覺引導-40px 大標題
		h1.small_english English Style Guideline for h1 title
		.title_hr
		br
		h2 品牌視覺引導-30px 中標題
		h2.small_english English Style Guideline for h2 title
		br
		h3 品牌視覺引導-20px 小標題
		h3.small_english English Style Guideline for h3 title
		br

		hr
		h5 VI COLORS
		.color_chip
			.color_tag #ffb336
			.color_block.color_block_yellow
		.color_chip
			.color_tag #27232F
			.color_block.color_block_blue
		.color_chip
			.color_tag #f3f7f7
			.color_block.color_block_white
		.color_chip
			.color_tag #333333
			.color_block.color_block_gray
		h5 Button EXAMPLE
		.button 按鈕範例
		.button.button_blue 按鈕範例
		.button.button_yellow 按鈕範例

